extends layout
block content
    .container
     .row
      .col-md-6.col-md-offset-3
        each row in res1
         form.form-horizontal(action='', method='post')
          fieldset
            legend.text-center Edit Product
            .form-group
              label.col-md-3.control-label(for="newname") LogCabin Name:
              .col-md-9
                input#name.form-control(name="newname", type="text", value="#{row.Name}")
            // Email input
            .form-group
              label.col-md-3.control-label(for="newprice") LogCabin Price:
              .col-md-9
                input#price.form-control(name="newprice", type="text", value="#{row.Price}")
            .form-group
              label.col-md-3.control-label(for="newimage1d") Image:
              .col-md-9
                input#image.form-control(name="newimage1", type="text", value="#{row.Image1}")
            .form-group
              label.col-md-3.control-label(for="newimage2") Image:
              .col-md-9
                input#image.form-control(name="newimage2", type="text", value="#{row.Image2}")
            .form-group
              label.col-md-3.control-label(for="newimage3") Image:
              .col-md-9
                input#drawings.form-control(name="newimage3", type="text", value="#{row.Image3}")
                
             button.btn1(type="edit") Edit the Product