extends layout
block content
     section#products 
     .content-section-a
         .prod-container
           each row in res2
              .item 
                h1 Product Specification
                h2.product1 Id: #{row.Id}
                h2.product1 External wall thickness: #{row.Wall} 
                h2.product1 Area: #{row.Area}
                h2.product1 Roof Area: #{row.Roof}
                h2.product1 Number of rooms: #{row.Room}
                h2.product1 Window & door type: #{row.Window}
                h2.product1 Window Size mm: #{row.WindowS}
                h2.product1 Door size mm: #{row.DoorS}


                a.btn1(href="/editspec/#{row.Id}") Edit Spec  
